<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <bindings>
      <ws2007HttpBinding>
        <binding name="wsHttpNone">
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="None" establishSecurityContext="false" negotiateServiceCredential="false"/>
          </security>
        </binding>
      </ws2007HttpBinding>
      <netNamedPipeBinding>
        <binding name="pipeLogPublisher">
          <security mode="None">
            <transport protectionLevel="None" />
          </security>
        </binding>
        <binding name="pipeLogSubscriber">
          <security mode="None">
            <transport protectionLevel="None" />
          </security>
        </binding>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="tcpLogPublisher">
          <security mode="None">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="None" />
          </security>
        </binding>
        <binding name="tcpLogSubscriber">
          <security mode="None">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="wsLogPublisher">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:808/PubSubLogger/tcpLogPublisher"
          binding="netTcpBinding" bindingConfiguration="tcpLogPublisher"
          contract="LoggerPublishService.ILogger" name="tcpLogPublisher" />
      <!-- 
      <endpoint address="http://liqtest02.options-it.com/PubSubLogger/LoggerPublishService.svc/wsLogPublisher" 
          binding="ws2007HttpBinding" bindingConfiguration="wsHttpNone" 
                name="wsLogPublisher" 
                contract="LoggerPublishService.ILogger" /> -->
    </client>
  </system.serviceModel>
</configuration>