<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
    <system.serviceModel>
      <bindings>
        <netNamedPipeBinding>
          <binding name="pipeLogPublisher">
            <security mode="None">
              <transport protectionLevel="None" />
            </security>
          </binding>
          <binding name="pipeLogSubscriber">
            <security mode="None">
              <transport protectionLevel="None" />
            </security>
          </binding>
        </netNamedPipeBinding>
        <netTcpBinding>
          <binding name="tcpLogPublisher">
            <security mode="None">
              <transport clientCredentialType="None" />
              <message clientCredentialType="None" />
            </security>
          </binding>
          <binding name="tcpLogSubscriber">
            <security mode="None">
              <transport clientCredentialType="None" />
              <message clientCredentialType="None" />
            </security>
          </binding>
        </netTcpBinding>
        <wsHttpBinding>
          <binding name="wsLogPublisher">
            <security mode="None">
              <transport clientCredentialType="None" realm="" />
              <message clientCredentialType="None" />
            </security>
          </binding>
        </wsHttpBinding>
      </bindings>
        <client>
            <endpoint address="net.tcp://localhost:12002/" binding="netTcpBinding"
                bindingConfiguration="tcpLogSubscriber" contract="LoggerSubscriptionService.ILoggerSubscriptionService"
                name="tcpLogSubscriber" />
            <endpoint address="http://liqtest02.options-it.com/PubSubLogger/LoggerPublishService.svc/wsLogPublisher"
                binding="wsHttpBinding" bindingConfiguration="wsLogPublisher"
                contract="LoggerPublishService.ILogger" name="wsLogPublisher" />
            <endpoint address="net.tcp://localhost:12004/" binding="netTcpBinding"
                bindingConfiguration="tcpLogPublisher" contract="LoggerPublishService.ILogger"
                name="tcpLogPublisher" />
            <endpoint address="net.pipe://localhost/PubSubLogger/pipeLogPublisher"
                binding="netNamedPipeBinding" bindingConfiguration="pipeLogPublisher"
                contract="LoggerPublishService.ILogger" name="pipeLogPublisher" />
        </client>
    </system.serviceModel>
</configuration>