<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://liqtest01.options-it.com/PubSubLogger/LoggerPublishService.svc/wsLogPublisher"
          binding="wsHttpBinding" contract="LoggerPublishService.ILogger"
          name="wsLogPublisher" />
      <endpoint address="net.tcp://liqtest01/PubSubLogger/tcpLogPublisher"
          binding="netTcpBinding" contract="LoggerPublishService.ILogger"
          name="tcpLogPublisher" />
      <endpoint address="net.pipe://localhost/PubSubLogger/pipeLogPublisher"
          binding="netNamedPipeBinding" contract="LoggerPublishService.ILogger"
          name="pipeLogPublisher" />
      <endpoint address="net.tcp://localhost/PubSubLogger/tcpLogSubscriber"
          binding="netTcpBinding"
          contract="LoggerSubscriptionService.ILoggerSubscriptionService"
          name="tcpLogSubscriber" />
      <endpoint address="net.pipe://localhost/PubSubLogger/pipeLogSubscriber"
          binding="netNamedPipeBinding"
          contract="LoggerSubscriptionService.ILoggerSubscriptionService"
          name="pipeLogSubscriber" />
    </client>
  </system.serviceModel>
</configuration>